<section id="add">
  <form action="/" method="post">
    <input class='awesomplete' data-list="Kyle Thomson, Clearwater Beach, Aaron Plumb, Troy Nowak, Dan Ferris" data-minchars="1" data-autofirst="true" name="location" placeholder="Your location&hellip;" autofocus></input>
    <br>
    <input class='awesomplete' data-list="Kyle Thomson, Clearwater Beach, Aaron Plumb, Troy Nowak, Dan Ferris" data-minchars="1" data-autofirst="true" name="location" placeholder="Winner first player&hellip;"></input>
    <br>
    <input class='awesomplete' data-list="Kyle Thomson, Clearwater Beach, Aaron Plumb, Troy Nowak, Dan Ferris" data-minchars="1" data-autofirst="true" name="location" placeholder="Winner second player&hellip;"></input>
    <br>
    <input class='awesomplete' data-list="Kyle Thomson, Clearwater Beach, Aaron Plumb, Troy Nowak, Dan Ferris" data-minchars="1" data-autofirst="true" name="location" placeholder="Loser first player&hellip;"></input>
    <br>
    <input class='awesomplete' data-list="Kyle Thomson, Clearwater Beach, Aaron Plumb, Troy Nowak, Dan Ferris" data-minchars="1" data-autofirst="true" name="location" placeholder="Loser second player&hellip;"></input>
    <br>
    <input type="submit" value="Submit!">
  </form>
</section>
 
<% @games.each do |game| %>
  <article>
    <p>
    <%= game.winner1 %> and <%= game.winner2 %> beat <%= game.loser1 %> and 
      <%= game.loser2 %> on <%= game.created_at.strftime("%m/%d/%y") %> in  <%= game.location %>
      <span><a href="/<%= game.id %>">[edit]</a></span>
    </p>
  </article>
<% end %>

