<section id="add">
  <form action="/" method="post">
    <textarea class='autocomplete' name="location" placeholder="Your location&hellip;" autofocus></textarea>
    <textarea class='autocomplete' name="winner1" placeholder="Winner first player&hellip;"></textarea>
    <textarea class='autocomplete' name="winner2" placeholder="Winner second player&hellip;"></textarea>
    <textarea class='autocomplete' name="loser1" placeholder="Loser first player&hellip;"></textarea>
    <textarea class='autocomplete' name="loser2" placeholder="Loser second player&hellip;"></textarea>
    <input type="submit" value="Submit!">
  </form>
</section>
 
<% @games.each do |game| %>
  <article>
    <p>
      On <%= game.created_at %> <%= game.location %>
      <span><a href="/<%= game.id %>">[edit]</a></span>
    </p>
    <p class="links">
      <a href="/<%= game.id %>/complete">&#8623;</a>
    </p>
    <p class="meta">Created: <%= game.created_at %></p>
  </article>
<% end %>

