<section id="add">
  <form action="/" method="post">
    <textarea name="location" placeholder="Your location&hellip;"></textarea>
    <textarea name="winner1" placeholder="Winner first player&hellip;"></textarea>
    <textarea name="winner2" placeholder="Winner second player&hellip;"></textarea>
    <textarea name="loser1" placeholder="Loser first player&hellip;"></textarea>
    <textarea name="loser2" placeholder="Loser second player&hellip;"></textarea>
    <input type="submit" value="Submit!">
  </form>
</section>
 
<% @notes.each do |note| %>
  <article <%= 'class="complete"' if note.complete %>>
    <p>
      <%= note.location %>
      <span><a href="/<%= note.id %>">[edit]</a></span>
    </p>
    <p class="links">
      <a href="/<%= note.id %>/complete">&#8623;</a>
    </p>
    <p class="meta">Created: <%= note.created_at %></p>
  </article>
<% end %>

